@use 'styles/colors.scss' as colors;

#router-container {
  width: 100vw;
  height: 100vh;
  color: colors.$text;
  font-size: 30px;
  background-color: colors.$background;

  ::-webkit-scrollbar {width: 6px;}

  ::-webkit-scrollbar-track {
    background: colors.$secondary;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: colors.$primary;
    border-radius: 10px;
  }

  ::selection {
    background-color: colors.$primary;
    color: colors.$textBis;
  }
}