@use 'styles/ui' as ui;

#auth-page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;

  #error-text {
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
}